@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';

@import 'header.scss';
@import 'toolbar.scss';
@import 'formula.scss';
@import 'table.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.exel {
  position: relative;
}
